[server]
public_dir_dist = [["./examples/demo/dist", "/dist/kubeeye"], ["./examples/demo/v3dist", "/extensions-static/kubeeye/dist/v3dist"]]
host = "0.0.0.0"
port = 80

[typst]
assets_dir = "./examples/demo/assets"

[typst.icons]
Noto_Serif_SC = "fonts/NotoSansSC-Regular.ttf"
Noto_Sans_SC = "fonts/NotoSerifSC-Regular.ttf"

[typst.themes.default]
icons = ["Noto_Serif_SC", "Noto_Sans_SC"]
themplates = {}